<h1>Blue Lock</h1>
<div class="image-text-container">
  <img src="https://m.media-amazon.com/images/I/81t2XhAKPbL._AC_UF894,1000_QL80_.jpg" alt="Imagen de Blue Lock">
  <div class="text">
    <h2>¿Que es Blue Lock?</h2>
    <p>
      La temporada de otoño en Japón llega, también, junto a los electrizantes anuncios por parte del servicio de
      difusión y distribución encargado de trasmitir los mejores animes a nivel mundial.
      Blue Lock forma parte de la cartelera televisiva que Crunchyroll estrenó recientemente.
      Este anime japonés de fútbol sitúa sus episodios entorno a la eliminación de la selección nipona de la Copa del
      Mundo Rusia 2018.
    </p>
  </div>
</div>

<div class="image-text-container2">
  <img
    src="https://i.pinimg.com/originals/0d/6a/ee/0d6aeec5c877fb41b8b331c9833c9ba8.jpg"
    alt="Imagen de Blue Lock">
  <div class="text2">
    <h2>Ego Jinpachi</h2>
    <p>
      Ego, a primera vista, es un hombre ambicioso y demasiado confiado. Sin embargo, detrás de esa ambición hay algo
      aún más siniestro, ya que pone énfasis en el "ego", ya que se muestra como un hombre extremadamente cruel y
      egoísta, que ve el trabajo en equipo y "antepone a tus compañeros de equipo antes que a ti mismo" al equivalente
      de ser “de segunda categoría”. Nunca desperdicia la oportunidad de decirle a sus jugadores la fría verdad sobre
      ellos mismos y su realidad, ya sea sumiéndolos en una mayor desesperación o inspirándolos con su fría verdad.
    </p>
  </div>
</div>

<body>
  <h1>Jugadores destacados</h1>

  <div class="card-container">
    <!-- Ejemplo de tarjeta -->
    <div class="card">
      <img src="https://i.pinimg.com/736x/b2/b3/c4/b2b3c4445ed075c0ccbe7edcb9bade4e.jpg" alt="Imagen 1">
      <h3>Rin Itoshi</h3>
      <h4>Edad:16-1
        Altura: 187 cm
        Posición: Delantero
      </h4>
      <input type="checkbox" id="toggle-1" class="toggle-button">
      <div class="more-text">Su principal motivación es superar a su hermano, Sae, quien lo inspiró pero también
        lo hirió emocionalmente sus
        Habilidades y estilo de juego es Técnica excepcional, Disparos potentes,
        Adaptabilidad y su
        Mentalidad competitiva.</div>
      <label for="toggle-1" class="toggle-label">Mostrar más</label>
    </div>

    <div class="card">
      <img src="https://i.pinimg.com/736x/10/5f/5e/105f5e6166d853ab13c89086421c2048.jpg" alt="Imagen 2">
      <h3>Nagi Seishiro</h3>
      <h4>Edad: 16-17 años
        Altura: 190 cm
        Posición:Delantero / Mediocampista ofensivo</h4>
      <input type="checkbox" id="toggle-2" class="toggle-button">
      <div class="more-text">Su personalidad es ser despreocupado, perezoso y relajado. Inicialmente juega por
        diversión, pero desarrolla una verdadera pasión por el fútbol en Blue Lock. Su Habilidad y Estilo de
        Juego es el
        control perfecto, Nagi tiene un control del balón sobresaliente, capaz de realizar maniobras increíbles.
        Se lo conoce como el prodigio. </div>
      <label for="toggle-2" class="toggle-label">Mostrar más</label>
    </div>

    <div class="card">
      <img src="https://media.tycsports.com/files/2024/07/09/739874/trailer-de-la-temporada-2-de-blue-lock_640x640.webp"
        alt="Imagen 5">
      <h3>Isagi Yoichi</h3>
      <h4> Edad: 16 años
        Altura: 175 cm
        Posición: Delantero </h4>
      <input type="checkbox" id="toggle-5" class="toggle-button">
      <div class="more-text">Su personalidad es ser humilde, trabajador y reflexivo. Tiene un fuerte deseo de
        convertirse en el mejor delantero del mundo.
        Su habilidad es la visión del campo,Trabajo en equipo.</div>
      <label for="toggle-5" class="toggle-label">Mostrar más</label>
    </div>

    <div class="card">
      <img src="https://i.pinimg.com/736x/77/19/f2/7719f21934870d7b1d6d48cc99be25e5.jpg" alt="Imagen 4">
      <h3>Barou Shouei</h3>
      <h4> Edad: 17 años
        Altura:187 cm
        Posición: Delantero </h4>
      <input type="checkbox" id="toggle-4" class="toggle-button">
      <div class="more-text">Su personalidad es ser
        egocéntrico y dominante, se considera a sí mismo el "Rey" del campo. Tiene una actitud fuerte y no le
        gusta cooperar con otros. Su Habilidad es tener tiros potentes: Su fuerza bruta hace que sus disparos
        sean devastadores y su Fuerza física:** Usa su cuerpo para imponerse a los oponentes.</div>
      <label for="toggle-4" class="toggle-label">Mostrar más</label>
    </div>

    <h1>Jugadas Destacadas</h1>
    <div class="slider">
      <figure>
        <div class="slide">
          <img src="https://i.ytimg.com/vi/3BGRRJC7uUo/maxresdefault.jpg">
        </div>
        <div class="slide">
          <img
            src="https://i0.wp.com/codigoespagueti.com/wp-content/uploads/2022/11/Surge-otra-preciosa-ilustracion-de-Japon-en-Qatar-2022-hecha-por-el-autor-de-Blue-Lock-.jpg">
        </div>
        <div class="slide">
          <img
            src="https://preview.redd.it/93axa9ef0g7c1.png?width=640&crop=smart&auto=webp&s=36b072f96437d7b280a2f51972bb3ce7285c3b2c">
        </div>
        <div class="slide">
          <img
            src="https://cloudfront-eu-central-1.images.arcpublishing.com/prisaradiolos40/5DWYHZTYWJDRRHVBL2NW7PMP34.jpg">
        </div>
      </figure>
    </div>

    <form class="form-container" action="#" method="POST">
      <h1>Contactanos</h1>
      <div class="form-group">
        <label for="first-name">Nombres:</label>
        <input type="text" id="first-name" name="first-name" placeholder="Ingresa tus nombres" required>
      </div>
      <div class="form-group">
        <label for="last-name">Apellidos:</label>
        <input type="text" id="last-name" name="last-name" placeholder="Ingresa tus apellidos" required>
      </div>
      <div class="form-group">
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" placeholder="Ingresa tu correo electrónico" required>
      </div>
      <button type="submit" class="submit-button">Enviar Información</button>
    </form>